.square {
	position: relative;
	width: 100%;

	&:after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}
}
.square-content {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
